## Part 1:

## Video Game Sales

Memuat set data :

In [1]:
import pandas as pd
import numpy as np
vidgame = pd.read_csv('vgsales.csv')
vidgame

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

### Temukan video game yang menghasilkan pendapatan terbanyak secara global

In [2]:
vidgame.sort_values('Global_Sales', ascending = False).head(1)['Name']

0    Wii Sports
Name: Name, dtype: object

### Temukan platform dengan penjualan global paling rata-rata.

In [3]:
platforms = vidgame.groupby('Platform')
platforms.mean().sort_values('Global_Sales',ascending = False).head(1)

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Platform,,,,,,,
GB,3392.030612,1995.958763,1.166531,0.487959,0.868571,0.083673,2.606633

### Temukan penerbit dengan penjualan global terbanyak

In [4]:
publishers = vidgame.groupby('Publisher')
publishers.sum().sort_values('Global_Sales', ascending = False).head(1)

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Publisher,,,,,,,
Nintendo,2714164,1394666.0,816.87,418.74,455.42,95.33,1786.56

### Menemukan tahun mana yang memiliki penjualan global paling banyak

In [5]:
a = vidgame.groupby('Year')
a.sum().sort_values('Global_Sales', ascending = False).head(1)

            Rank  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Year
2008.0  12088007    351.44     184.4     60.26        82.39         678.9

### Menemukan game terlaris untuk setiap platform

In [6]:
game_terlaris = vidgame.groupby(['Platform','Name','Global_Sales'])
game_terlaris.max().sort_values('Global_Sales', ascending = False).groupby('Platform').head()

                                                             Rank    Year  \
Platform Name                                 Global_Sales
Wii      Wii Sports                           82.74             1  2006.0
NES      Super Mario Bros.                    40.24             2  1985.0
Wii      Mario Kart Wii                       35.82             3  2008.0
         Wii Sports Resort                    33.00             4  2009.0
GB       Pokemon Red/Pokemon Blue             31.37             5  1996.0
...                                                           ...     ...
GG       Sonic the Hedgehog 2 (8-bit)         0.04          13527  1992.0
PCFX     Blue Breaker: Ken Yorimo Hohoemi o   0.03          14559  1996.0
TG16     Ginga Fukei Densetsu: Sapphire       0.02          15538  1995.0
3DO      Bust-A-Move                          0.02          14999  1994.0
         Sotsugyou II: Neo Generation Special 0.02          15482  1995.0

                                                                   Genre  \
Platform Name                                 Global_Sales
Wii      Wii Sports                           82.74               Sports
NES      Super Mario Bros.                    40.24             Platform
Wii      Mario Kart Wii                       35.82               Racing
         Wii Sports Resort                    33.00               Sports
GB       Pokemon Red/Pokemon Blue             31.37         Role-Playing
...                                                                  ...
GG       Sonic the Hedgehog 2 (8-bit)         0.04              Platform
PCFX     Blue Breaker: Ken Yorimo Hohoemi o   0.03          Role-Playing
TG16     Ginga Fukei Densetsu: Sapphire       0.02               Shooter
3DO      Bust-A-Move                          0.02                Puzzle
         Sotsugyou II: Neo Generation Special 0.02            Simulation

                                                              Publisher  \
Platform Name                                 Global_Sales
Wii      Wii Sports                           82.74            Nintendo
NES      Super Mario Bros.                    40.24            Nintendo
Wii      Mario Kart Wii                       35.82            Nintendo
         Wii Sports Resort                    33.00            Nintendo
GB       Pokemon Red/Pokemon Blue             31.37            Nintendo
...                                                                 ...
GG       Sonic the Hedgehog 2 (8-bit)         0.04                 Sega
PCFX     Blue Breaker: Ken Yorimo Hohoemi o   0.03                  NEC
TG16     Ginga Fukei Densetsu: Sapphire       0.02          Hudson Soft
3DO      Bust-A-Move                          0.02          Micro Cabin
         Sotsugyou II: Neo Generation Special 0.02           Imageworks

                                                            NA_Sales  \
Platform Name                                 Global_Sales
Wii      Wii Sports                           82.74            41.49
NES      Super Mario Bros.                    40.24            29.08
Wii      Mario Kart Wii                       35.82            15.85
         Wii Sports Resort                    33.00            15.75
GB       Pokemon Red/Pokemon Blue             31.37            11.27
...                                                              ...
GG       Sonic the Hedgehog 2 (8-bit)         0.04              0.00
PCFX     Blue Breaker: Ken Yorimo Hohoemi o   0.03              0.00
TG16     Ginga Fukei Densetsu: Sapphire       0.02              0.00
3DO      Bust-A-Move                          0.02              0.00
         Sotsugyou II: Neo Generation Special 0.02              0.00

                                                            EU_Sales  \
Platform Name                                 Global_Sales
Wii      Wii Sports                           82.74            29.02
NES      Super Mario Bros.                    40.24             3.58
Wii      Mario Kart Wii                       35.82            12.88
         Wii Sports Resort                    33.00            11.01
GB       Pokemon Red/Pokemon Blue             31.37             8.89
...                                                              ...
GG       Sonic the Hedgehog 2 (8-bit)         0.04              0.00
PCFX     Blue Breaker: Ken Yorimo Hohoemi o   0.03              0.00
TG16     Ginga Fukei Densetsu: Sapphire       0.02              0.00
3DO      Bust-A-Move                          0.02              0.00
         Sotsugyou II: Neo Generation Special 0.02              0.00

                                                            JP_Sales  \
Platform Name                                 Global_Sales
Wii      Wii Sports                           82.74             3.77
NES      Super Mario Bros.                    40.24             6.81
Wii      Mario Kart Wii                       35.82             3.79
         Wii Sports Resort                    33.00             3.28
GB       Pokemon Red/Pokemon Blue             31.37            10.22
...                                                              ...
GG       Sonic the Hedgehog 2 (8-bit)         0.04              0.04
PCFX     Blue Breaker: Ken Yorimo Hohoemi o   0.03              0.03
TG16     Ginga Fukei Densetsu: Sapphire       0.02              0.02
3DO      Bust-A-Move                          0.02              0.02
         Sotsugyou II: Neo Generation Special 0.02              0.02

                                                            Other_Sales
Platform Name                                 Global_Sales
Wii      Wii Sports                           82.74                8.46
NES      Super Mario Bros.                    40.24                0.77
Wii      Mario Kart Wii                       35.82                3.31
         Wii Sports Resort                    33.00                2.96
GB       Pokemon Red/Pokemon Blue             31.37                1.00
...                                                                 ...
GG       Sonic the Hedgehog 2 (8-bit)         0.04                 0.00
PCFX     Blue Breaker: Ken Yorimo Hohoemi o   0.03                 0.00
TG16     Ginga Fukei Densetsu: Sapphire       0.02                 0.00
3DO      Bust-A-Move                          0.02                 0.00
         Sotsugyou II: Neo Generation Special 0.02                 0.00

[142 rows x 8 columns]

### Menemukan penjual teratas untuk setiap genre

In [7]:
vidgame.groupby(['Genre','Name','Global_Sales']).max().sort_values('Global_Sales', ascending = False).groupby('Genre').head(1)

,,,Rank,Platform,Year,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
Genre,Name,Global_Sales,,,,,,,,
Sports,Wii Sports,82.74,1,Wii,2006.0,Nintendo,41.49,29.02,3.77,8.46
Platform,Super Mario Bros.,40.24,2,NES,1985.0,Nintendo,29.08,3.58,6.81,0.77
Racing,Mario Kart Wii,35.82,3,Wii,2008.0,Nintendo,15.85,12.88,3.79,3.31
Role-Playing,Pokemon Red/Pokemon Blue,31.37,5,GB,1996.0,Nintendo,11.27,8.89,10.22,1.00
Puzzle,Tetris,30.26,6,GB,1989.0,Nintendo,23.20,2.26,4.22,0.58
Misc,Wii Play,29.02,8,Wii,2006.0,Nintendo,14.03,9.20,2.93,2.85
Shooter,Duck Hunt,28.31,10,NES,1984.0,Nintendo,26.93,0.63,0.28,0.47
Simulation,Nintendogs,24.76,11,DS,2005.0,Nintendo,9.07,11.00,1.93,2.75
Action,Grand Theft Auto V,21.40,17,PS3,2013.0,Take-Two Interactive,7.01,9.27,0.97,4.14
Fighting,Super Smash Bros. Brawl,13.04,40,Wii,2008.0,Nintendo,6.75,2.61,2.66,1.02
Adventure,Super Mario Land 2: 6 Golden Coins,11.18,51,GB,1992.0,Nintendo,6.16,2.04,2.69,0.29
Strategy,Pokemon Stadium,5.45,166,N64,1999.0,Nintendo,3.18,1.24,0.94,0.09

In [8]:
penjualan_teratas = vidgame.groupby(['Genre','Name','Global_Sales'])
penjualan_teratas.max().sort_values('Global_Sales', ascending = False).groupby('Genre').head(1)

,,,Rank,Platform,Year,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
Genre,Name,Global_Sales,,,,,,,,
Sports,Wii Sports,82.74,1,Wii,2006.0,Nintendo,41.49,29.02,3.77,8.46
Platform,Super Mario Bros.,40.24,2,NES,1985.0,Nintendo,29.08,3.58,6.81,0.77
Racing,Mario Kart Wii,35.82,3,Wii,2008.0,Nintendo,15.85,12.88,3.79,3.31
Role-Playing,Pokemon Red/Pokemon Blue,31.37,5,GB,1996.0,Nintendo,11.27,8.89,10.22,1.00
Puzzle,Tetris,30.26,6,GB,1989.0,Nintendo,23.20,2.26,4.22,0.58
Misc,Wii Play,29.02,8,Wii,2006.0,Nintendo,14.03,9.20,2.93,2.85
Shooter,Duck Hunt,28.31,10,NES,1984.0,Nintendo,26.93,0.63,0.28,0.47
Simulation,Nintendogs,24.76,11,DS,2005.0,Nintendo,9.07,11.00,1.93,2.75
Action,Grand Theft Auto V,21.40,17,PS3,2013.0,Take-Two Interactive,7.01,9.27,0.97,4.14
Fighting,Super Smash Bros. Brawl,13.04,40,Wii,2008.0,Nintendo,6.75,2.61,2.66,1.02
Adventure,Super Mario Land 2: 6 Golden Coins,11.18,51,GB,1992.0,Nintendo,6.16,2.04,2.69,0.29
Strategy,Pokemon Stadium,5.45,166,N64,1999.0,Nintendo,3.18,1.24,0.94,0.09

### Membuat fungsi yang mengelompokkan tanggal rilis video game berdasarkan dekade, dan menunjukkan bagaimana penjualan global mereka telah berevolusi

In [9]:
def decades(row):
    year = row['Year']
    
    if 1979 < year < 1990:
        return "1980s"
    elif 1989 < year < 2000:
        return "1990s"
    elif 1999< year < 2010:
        return "2010s"
    else:
        return "others"

vidgame['Decade'] = vidgame.apply(decades, axis = 'columns')
vidgame.head(20)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Decade
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,2010s
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,1980s
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,2010s
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,2010s
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,1990s
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,1980s
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01,2010s
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02,2010s
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62,2010s
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,1980s
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76,2010s
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42,2010s
12,13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10,1990s
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72,2010s
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00,2010s
15,16,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82,others
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40,others
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81,2010s
18,19,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61,1990s
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22,2010s

## Part 2

## 5000 IMD Movies

In [10]:
#import library
import pandas as pd
import numpy as np

Memuat dan melihat kumpulan data:

In [11]:
#memuat dataset
movie = pd.read_csv('movie_metadata.csv')

In [12]:
#dataset 5 teratas
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

### Menemukan perbedaan antara anggaran dan total box office per sutradara setiap tahun dengan menambahkan kolom baru bernama` diff_gross`.

In [13]:
# drop missing values
df = movie.copy()
df = df.dropna(how = 'any')
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000

In [14]:
#kolom baru diff gross
df['diff_gross'] = df['gross'] - df['budget']
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,diff_gross
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,523505847.0
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,9404152.0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,-44925825.0
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,198130642.0
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000,-190641321.0

In [15]:
# lakukan group by diff gross kemudian urutkan secara descending
directors = df.groupby('director_name')
directors.sum().sort_values('diff_gross', ascending = False).head()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,diff_gross
director_name,,,,,,,,,,,,,,,,,
Steven Spielberg,6526.0,3429.0,350000.0,42157.0,271942.0,4.114233e+09,8273101,421682,17.0,21856.0,1.627901e+09,49934.0,80577.0,188.6,53.25,444000,2.486332e+09
George Lucas,1345.0,655.0,0.0,9929.0,82000.0,1.741418e+09,2494008,153194,10.0,12107.0,3.547770e+08,9956.0,49000.0,37.0,11.18,56000,1.386641e+09
James Cameron,1878.0,1098.0,0.0,4303.0,38780.0,1.948126e+09,3834613,69298,2.0,9064.0,7.485000e+08,13950.0,18479.0,55.4,14.88,103000,1.199626e+09
Joss Whedon,2317.0,606.0,0.0,57279.0,80000.0,1.730887e+09,2696098,270247,10.0,6155.0,7.300000e+08,8044.0,63505.0,31.7,8.40,378000,1.000887e+09
Chris Columbus,1567.0,1398.0,0.0,17183.0,167946.0,1.618708e+09,1959941,241067,21.0,5355.0,6.770000e+08,22014.0,31305.0,73.2,23.85,87000,9.417076e+08

### Menemukan direktur mana yang memperoleh jumlah ulasan kritikus tertinggi

In [16]:
kritik_tertinggi = movie.groupby('director_name')
kritik_tertinggi.sum().sort_values('num_critic_for_reviews', ascending = False).head(1)

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
director_name,,,,,,,,,,,,,,,,
Steven Spielberg,6582.0,3571.0,364000.0,42799.0,287942.0,4.114233e+09,8298294,441883,22.0,22073.0,1.662901e+09,51913.0,81577.0,194.5,55.6,446000

### IMDB dikenal karena ketidakseimbangan antara evaluasi kritik profesional dan pengguna platform; Nilai tinggi berarti kritikus profesional lebih menghargai film dan sebaliknya. Saya akan menemukan rasio ini dan menambahkannya di kolom baru bernama `crit_ratio`.

In [17]:
df['critic_ratio'] = df['num_critic_for_reviews'] / df['num_user_for_reviews']
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,diff_gross,critic_ratio
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,523505847.0,0.236739
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,9404152.0,0.243942
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,-44925825.0,0.605634
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,198130642.0,0.301000
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000,-190641321.0,0.626016

### Temukan 20 sutradara terbaik menurut rasio kritikus

In [18]:
new = df.copy()
new.set_index('director_name', inplace = True)

In [19]:
director = df.groupby('director_name')
director.mean().sort_values('critic_ratio', ascending=False).head(20)

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,diff_gross,critic_ratio
director_name,,,,,,,,,,,,,,,,,,
Karim AÃ¯nouz,70.0,106.0,19.0,9.0,585.0,20262.0,1738.0,629.0,2.0,10.0,4000000.0,2014.0,29.0,6.1,2.35,278.0,-3979738.0,7.000000
Hans Canosa,365.0,84.0,3.0,446.0,10000.0,379122.0,10143.0,12496.0,0.0,54.0,450000.0,2005.0,651.0,7.1,2.39,0.0,-70878.0,6.759259
Hitoshi Matsumoto,72.0,99.0,17.0,16.0,31.0,22770.0,1658.0,81.0,0.0,12.0,5500000.0,2013.0,17.0,6.1,1.85,543.0,-5477230.0,6.000000
Joseph Dorman,29.0,93.0,0.0,59.0,399.0,906666.0,154.0,660.0,1.0,5.0,500000.0,2011.0,169.0,6.8,16.00,287.0,406666.0,5.800000
Benjamin Dickinson,36.0,97.0,4.0,150.0,446.0,62480.0,1048.0,928.0,1.0,7.0,1000000.0,2015.0,171.0,5.5,2.39,793.0,-937520.0,5.142857
Aki KaurismÃ¤ki,205.0,93.0,592.0,36.0,232.0,611709.0,15267.0,391.0,1.0,41.0,3850000.0,2011.0,67.0,7.2,1.85,0.0,-3238291.0,5.000000
Paul Bunnell,94.0,106.0,5.0,356.0,416.0,2436.0,344.0,1611.0,2.0,19.0,2000000.0,2012.0,403.0,5.7,2.35,655.0,-1997564.0,4.947368
Dagur KÃ¡ri,61.0,99.0,29.0,64.0,117.0,19959.0,3579.0,298.0,2.0,14.0,3800000.0,2009.0,64.0,6.9,2.35,0.0,-3780041.0,4.357143
Anna Muylaert,111.0,112.0,9.0,4.0,61.0,375723.0,7025.0,76.0,1.0,26.0,4000000.0,2015.0,9.0,7.9,2.35,0.0,-3624277.0,4.269231
Michel Leclerc,87.0,100.0,3.0,9.0,74.0,513836.0,6304.0,143.0,1.0,21.0,4600000.0,2010.0,52.0,7.2,1.85,0.0,-4086164.0,4.142857
Hue Rhodes,45.0,85.0,0.0,966.0,22000.0,100669.0,2522.0,36885.0,1.0,11.0,3800000.0,2009.0,12000.0,5.8,2.35,407.0,-3699331.0,4.090909
Johnnie To,98.0,110.0,143.0,76.0,155.0,49413.0,6919.0,398.0,0.0,26.0,35000000.0,2006.0,96.0,7.3,2.35,528.0,-34950587.0,3.769231
E.L. Katz,193.0,88.0,3.0,307.0,3000.0,59379.0,12796.0,4729.0,3.0,52.0,200000.0,2013.0,982.0,6.8,2.35,0.0,-140621.0,3.711538
Tom Putnam,22.0,86.0,15.0,0.0,2.0,111300.0,575.0,2.0,0.0,6.0,225000.0,2012.0,0.0,7.5,2.35,801.0,-113700.0,3.666667
JirÃ­ Menzel,99.0,113.0,44.0,4.0,61.0,617228.0,6183.0,92.0,1.0,27.0,84450000.0,2006.0,12.0,7.4,1.85,1000.0,-83832772.0,3.666667
Shari Springer Berman,104.0,108.0,30.0,281.0,474.0,453079.0,4124.0,2029.0,4.0,29.0,7000000.0,2010.0,403.0,5.9,2.35,916.0,-6546921.0,3.586207
Huck Botko,46.0,86.0,10.0,126.0,189.0,535249.0,3467.0,768.0,0.0,13.0,3400000.0,2010.0,131.0,4.6,1.85,974.0,-2864751.0,3.538462
Jon Stewart,129.0,103.0,593.0,241.0,374.0,3093491.0,8307.0,1283.0,0.0,37.0,5000000.0,2014.0,362.0,6.6,1.85,5000.0,-1906509.0,3.486486
Jamie Travis,115.0,88.0,15.0,567.0,938.0,1243961.0,13421.0,3770.0,0.0,34.0,850000.0,2012.0,904.0,6.0,2.35,0.0,393961.0,3.382353
Lena Dunham,113.0,98.0,969.0,433.0,969.0,389804.0,11816.0,2530.0,0.0,35.0,65000.0,2010.0,529.0,6.3,2.35,0.0,324804.0,3.228571

### Temukan berapa banyak film yang telah dibuat untuk setiap genre (mengakui bahwa satu film dapat termasuk dalam lebih dari satu genre)

Pertama, kita perlu membuat fungsi untuk menerjemahkan kolom genre, yang saat ini memisahkan genre dengan simbol "|"

In [20]:
new['genre_list'] = new['genres'].str.split('|', expand = False)
new.head()

,color,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,...,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,diff_gross,critic_ratio,genre_list
director_name,,,,,,,,,,,,,,,,,,,,,
James Cameron,Color,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,...,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,523505847.0,0.236739,"[Action, Adventure, Fantasy, Sci-Fi]"
Gore Verbinski,Color,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,...,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,9404152.0,0.243942,"[Action, Adventure, Fantasy]"
Sam Mendes,Color,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,...,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,-44925825.0,0.605634,"[Action, Adventure, Thriller]"
Christopher Nolan,Color,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,Tom Hardy,...,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,198130642.0,0.301000,"[Action, Thriller]"
Andrew Stanton,Color,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,...,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000,-190641321.0,0.626016,"[Action, Adventure, Sci-Fi]"

In [21]:
#hitung berapa banyak film
from collections import Counter
new.reset_index(drop=False).head()

list_of_genres = new['genre_list'].to_list()
l = []

list(map(l.extend, list_of_genres))
Counter(l)

Counter({'Action': 959,
         'Adventure': 781,
         'Fantasy': 507,
         'Sci-Fi': 496,
         'Thriller': 1117,
         'Romance': 859,
         'Animation': 196,
         'Comedy': 1461,
         'Family': 442,
         'Musical': 96,
         'Mystery': 384,
         'Western': 59,
         'Drama': 1893,
         'History': 149,
         'Sport': 148,
         'Crime': 709,
         'Horror': 392,
         'War': 152,
         'Biography': 239,
         'Music': 151,
         'Documentary': 45,
         'Film-Noir': 1})